// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.ice-cube {
  background-color: blue;
  color: white;
  margin-right: 5px;
  padding: 15px;
  box-shadow: 12px 5px 60px 1px #000000;
}

.div {
  text-align: center;
  margin-top: 60px;
}

h1 {
  text-align: center;
}